
* {
    margin: 0;
    padding: 0;
}

p { 
    padding-top: 1em;
}

.main-content-wrapper {
    width: 900px;
    margin: 0 auto;

    padding-top: 2em;
    padding-bottom: 2em;
}

.post-card {
    width: 100%;

    border-top: 1px solid black;

    margin: 0 auto;
    padding: 1em;
    margin-top: 2em;
}